<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title - Quiz Game</title>
</head>
<body>
    <div class="container body-content">
        @RenderBody() <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My Quiz Game</p>
        </footer>
    </div>
    <script src="~/Scripts/jquery-3.7.0.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>

    @RenderSection("scripts", required: false)

</body>
</html>